@model Comic

<form method="post" asp-action="DeletePost" asp-controller="Comics">
    <input type="hidden" name="id" class="form-control" value="@Model.Id" />
    <label>Nombre: </label>
    <input type="text" name="nombre" class="form-control" value="@Model.Nombre" />
    <label>Imagen: </label>
    <input type="text" name="imagen" class="form-control" value="@Model.Imagen" />
    <label>Descripcion: </label>
    <input type="text" name="descripcion" class="form-control" value="@Model.Descripcion" />
    <button class="btn btn-outline-dark">
        borrar Comic
    </button>
</form>