<h1>Insert comics lamba</h1>

<form method="post">
    <label>Nombre: </label>
    <input type="text" name="nombre" class="form-control" />
    <label>Imagen: </label>
    <input type="text" name="imagen" class="form-control" />
    <label>Descripcion: </label>
    <input type="text" name="descripcion" class="form-control" />
    <button class="btn btn-outline-dark">
        Insertar Comic
    </button>
</form>